<?xml version='1.0' encoding='utf-8'?>
<widget id="com.CompanyMLCL.LegislacaoUtil" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Legislação Útil</name>
    <description>
              Legislação de bolso útil.
    </description>
    <author email="company.mlcl@gmail.com" >
        Company MLCL
    </author>
	   <preference name = "permissions" value = "none"/>
<preference name="DisallowOverscroll" value="true" />
<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
     
   <icon src="www/res/icon/android/mipmap-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi"/>
	
	<icon src="www/res/icon/android/mipmap-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi"/>
	
	<icon src="www/res/icon/android/mipmap-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi"/>
	
	<icon src="www/res/icon/android/mipmap-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi"/>
	
	<icon src="www/res/icon/android/mipmap-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi"/>
 
    <content src="index.html" />
       <gap:plugin name="cordova-plugin-whitelist" version="1.1.0" source="npm" />
	   <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />

<access origin="*" launch-external="yes" />
</widget>
